# Ignorer les fichiers générés par le système
.DS_Store
Thumbs.db

# Ignorer les fichiers de log
*.log

# Ignorer les fichiers compilés Java
*.class

# Ignorer les répertoires spécifiques aux IDE
.vscode/
.idea/
out/

# Ignorer les fichiers temporaires
*.tmp
*.swp
